{% extends "base.html" %}
{% load static %}
{% load filter_extra %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/timeline.css" %}"/>
    <link rel="stylesheet" href="{% static "css/timeline1.css" %}"/>
    <link rel="stylesheet" href="{% static "css/animate.min.css" %}">

{% endblock %}




{% block content %}



    <div class="doc-container" id="doc-container">
         <div class="container-fixed">
            <div class="timeline-box shadow">
                <div class="timeline-main">
                    <h1><i class="fa fa-clock-o"></i>日记</h1>
                    <div class="timeline-line"></div>

                        <!--按年归档-->
                        {% for date in dates %}
                        <div class="timeline-year">
                            <h2><a class="yearToggle">{{ date.year }}</a><i class="fa fa-caret-down fa-fw"></i></h2>
                            <div class="timeline-month">

                            <!--other method-->
{#                                <ul>#}
{#                                    {% for li in list %}#}
{#                                    <li>#}
{#                                        <div class="h4 animated fadeInLeft">#}
{#                                            <p class="date">{{ li.created_time|date:"m月d日" }}</p>#}
{#                                        </div>#}
{#                                        <p class="dot-circle animated "><i class="fa fa-dot-circle-o"></i></p>#}
{#                                        <div class="content animated fadeInRight">{{ li.content|safe }}</div>#}
{#                                        <div class="clear"></div>#}
{#                                    </li>#}
{#                                    {% endfor %}#}
{##}
{#                                </ul>#}

                                    {% for li in list %}
                                    {% if li.created_time.year == date.year %}
                                    <div class="cd-timeline-block">
                                        <p class="dott-circle animated "><i class="fa fa-dot-circle-o"></i></p>
                                        <div class="cd-timeline-content">
                                            <h2>{{ li.title }}</h2>
                                            <p>{{ li.content|safe }}</p>
                                            <span class="cd-date" style="color: #484348;font-size: 1.1rem;opacity: 1">{{ li.created_time|date:"m月d日" }}</span>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                            </div>

                        </div>

                        {% endfor %}



                    <h1 style="padding-top:4px;padding-bottom:2px;margin-top:40px;"><i class="fa fa-hourglass-end"></i>THE END</h1>
                </div>
            </div>
        </div>
    </div>




{% endblock %}





    {% block script_extends %}
       <script src="{% static "js/pagediary.js" %}"></script>


        <!--真香的-->
       <script src="{% static "js/scrollreveal.min.js" %}"></script>
       <script src="{% static "js/bubble.js" %}"></script>

    {% endblock %}



    <!--真香的-->
    {% block script_funtion_extens %}
    <script>
        layui.use(['element', 'layer'], function () {
            var layer = layui.layer;
            /**
             * 滑动列表项特效
             */
            var slideUp = {
                // duration : 500,
                delay: 200,
                distance: '20px',
                easing: 'ease-in-out',
                // rotate   : { z: 10 },
                opacity: 0,
                scale    : 1.2,
                reset: true
            };
            window.scroll = ScrollReveal();
            scroll.reveal('.cd-timeline-block', slideUp);

            /*顶部加载条*/
            window.onload = function () {
                NProgress.done();
            };

            /**
             * 点击图片预览
             */
            $(".cd-timeline-content img").click(function () {
                layer.photos({photos: {data: [{src: $(this).attr('src')}]}, shade: .6, closeBtn: true});
            });
        });
    </script>
    {% endblock %}


