

    <div class="col-other">
        <div class="inner">


            <!--置顶推荐-->
            <div class="other-item">
                <h5 class="other-item-title">置顶推荐</h5>
                <div class="inner">
                    <ul class="hot-list-article">
                        {% for tui in tui %}
                            <li><a href="{% url 'blog:index' %}show-{{ tui.id }}.html" title="{{ tui.title }}">{{ tui.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>





            <!--遮罩-->
            <div class="blog-mask animated layui-hide"></div>
            <!--热门文章-->
            <div class="other-item">
                <h5 class="other-item-title">热门文章</h5>
                <div class="inner">
                    <ul class="hot-list-article">
                        {% for ho in hot %}
                            <li><a href="{% url 'blog:index' %}show-{{ ho.object_id }}.html">{{ ho.content_object }}({{ ho.view }})</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>





        <!--分类-->
            <div class="other-item">
                <h5 class="other-item-title">分类</h5>
                <div class="tagss" id="tagss">
                    {% for category in allcategory %}
                    <a href="{% url 'blog:index' %}list-{{ category.id }}.html">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </div>


        <!-- 标签 -->
            <div class="other-item">
                <h5 class="other-item-title">标签</h5>
                <div class="tagss" id="tagss">
                    {% for tag in tags %}
                    <a href="{% url 'blog:index' %}tag/{{ tag.name }}">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>


            <!--右边悬浮 平板或手机设备显示-->
            <div class="category-toggle"><i class="layui-icon">&#xe603;</i></div>
            <div class="article-category">
                <div class="article-category-title">分类导航</div>
                    {% for category in allcategory %}
                        <a href="{% url 'blog:index' %}list-{{ category.id }}.html">{{ category.name }}</a>
                    {% endfor %}
                <div class="f-cb"></div>
            </div>
        </div>
    </div>